form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

form h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  }

form input {
  width: 100%;
  padding: 8px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

.workout-log-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  margin: 5px 0;
  width: 90%;
}

.workout-log-container-header h3 {
  flex: none;
  text-align: center;
  width: 20%; /* Adjust the width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
